In [2]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

# Store the CSV you saved created in part one into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2022-01-20 20:24:53,-42.7826,147.0587,56.71,70,75,2.55
1,1,Rikitea,PF,2022-01-20 20:24:53,-23.1203,-134.9692,78.49,73,100,8.41
2,2,Ushuaia,AR,2022-01-20 20:23:27,-54.8000,-68.3000,73.06,33,0,4.61
3,3,Albany,US,2022-01-20 20:22:18,42.6001,-73.9662,26.47,53,19,1.99
4,4,Barrow,US,2022-01-20 20:22:38,71.2906,-156.7887,-20.18,69,100,4.61

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the max temp, need to get rid of negative temperatures since this is an invalid weight parameter
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature - get latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the max temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable 
# can set weights to temps from above or use the below
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating = False, max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating = False, max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind
locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating = False, max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2022-01-20 20:24:53,-23.1203,-134.9692,78.49,73,100,8.41
6,6,Hilo,US,2022-01-20 20:24:54,19.7297,-155.0900,75.25,83,100,8.05
9,9,Avarua,CK,2022-01-20 20:24:55,-21.2078,-159.7750,80.65,89,75,10.36
14,14,Tual,ID,2022-01-20 20:24:58,-5.6667,132.7500,83.03,76,100,16.64
20,20,Tete,MZ,2022-01-20 20:25:00,-16.1564,33.5867,82.49,57,40,11.50
22,22,Kapaa,US,2022-01-20 20:25:00,22.0752,-159.3190,78.78,75,75,1.01
27,27,Busselton,AU,2022-01-20 20:22:31,-33.6500,115.3333,75.09,51,4,8.01
30,30,Castro,BR,2022-01-20 20:22:33,-24.7911,-50.0119,77.77,67,73,3.42
33,33,Hithadhoo,MV,2022-01-20 20:25:05,-0.6000,73.0833,82.00,73,100,6.71
34,34,Saint-Philippe,RE,2022-01-20 20:25:05,-21.3585,55.7679,80.15,83,51,8.39

In [17]:
# Check for any null values
preferred_cities_df.count()

City_ID       170
City          170
Country       169
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [18]:
preferred_cities_df = preferred_cities_df.dropna()

In [19]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city,country,max temp, coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1          Rikitea      PF     78.49 -23.1203 -134.9692
6             Hilo      US     75.25  19.7297 -155.0900
9           Avarua      CK     80.65 -21.2078 -159.7750
14            Tual      ID     83.03  -5.6667  132.7500
20            Tete      MZ     82.49 -16.1564   33.5867
22           Kapaa      US     78.78  22.0752 -159.3190
27       Busselton      AU     75.09 -33.6500  115.3333
30          Castro      BR     77.77 -24.7911  -50.0119
33       Hithadhoo      MV     82.00  -0.6000   73.0833
34  Saint-Philippe      RE     80.15 -21.3585   55.7679

In [23]:
# Set parameters to search for a hotel
params = {
    "radius": 5000, "type": "lodging", "key": g_key
}

# Iterate through the dataframe
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,78.49,-23.1203,-134.9692,People ThankYou
6,Hilo,US,75.25,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
14,Tual,ID,83.03,-5.6667,132.7500,Grand Vilia Hotel
20,Tete,MZ,82.49,-16.1564,33.5867,Zambeze Paraíso Misterioso
22,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
27,Busselton,AU,75.09,-33.6500,115.3333,Observatory Guest House
30,Castro,BR,77.77,-24.7911,-50.0119,CHACARA BAILLY
33,Hithadhoo,MV,82.00,-0.6000,73.0833,Scoop Guest House
34,Saint-Philippe,RE,80.15,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating=False, max_intensity=300,point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating=False, max_intensity=300,point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))